/* main css */

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 85%;
	float: left;
}

#timeSlider {
	position: absolute;
	left: 100px;
	right: 100px;
	bottom: 20px;
	display: none;
}

#titleDiv {
	padding: 10px;
	font-weight: 36;
	text-align: center;
}
#edgesDiv {
	height: 300px;
	overflow:auto;
	display: none;
}

#sidebar {
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	width: 15%;
	float: right;
}

#nodes {
	height:300px; 
	overflow:auto;
}

#edges {
	height:300px; 
	overflow:auto;
}

#view_buffer {
	height:50px;
}

#construct_button{
	display: none;
	float: right;
}

#externalDiv{
	box-shadow: none;
}

#counter{
	width: 50px;
}

#counter_label{
	padding: 10px;
	font-weight: 36;
	text-align: center;
}

#counter_setup{
	display: none;
}

#s_overlay {
  position: fixed;
  display: none;
  width: 75%;
  height: 90%;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}

#s_world{
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 30px;
  color: black;
  background-color: orange;
  border-radius: 25px;
  padding: 10px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#s_us{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: black;
  background-color: orange;
  border-radius: 25px;
  padding: 10px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#s_ca{
  position: absolute;
  top: 50%;
  left: 76%;
  font-size: 30px;
  color: black;
  background-color: orange;
  border-radius: 25px;
  padding: 10px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
