/* main css */

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 85%;
	float: left;
}

#timeSlider {
	position: absolute;
	left: 100px;
	right: 100px;
	bottom: 20px;
}

#titleDiv {
	padding: 10px;
	font-weight: 36;
	text-align: center;
}
#edgesDiv {
	height: 250px;
	overflow:auto;
}

#sidebar {
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	width: 15%;
	float: right;
}
